{% extends 'base.html' %}

{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">Welcome To Football News Network!</h1>
    <p class="lead">Your Source For Up To Date Football News!</p>
  </div>
  <br/>





  <div class="container">
    <div class="row">
      {% for news_item in news %}
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ news_item.photo.url }}" >
            <div class="card-body">
              <h5 class="card-title">{{ news_item.title }}</h5>
              <p class="card-text">{{ news_item.description|slice:"200" }}...</p>
              <a href="{{ news_item.get_absolute_url }}" class="btn btn-secondary">Read More...</a>
            </div>
          </div>
          <br/>
        </div>
      {% endfor %}
    </div>
  </div>








{% endblock %}































